!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless{ data: { page: body_data_page } }
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row
            .col-sm-7.brand-holder
              %h1
                = brand_title
              = brand_image
              - if current_appearance&.description?
                = brand_text
              - else
                %h3
                  = _('Books translated by AI + Community')

                %p
                  = _('Use state of the art machine learning algorithms and crowdsourced translation correction to get any book from one language to another.')

              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)
            .col-sm-5.new-session-forms-container
              = yield

      %hr.footer-fixed
      .container.footer-container
        .footer-links
          = link_to _("Explore"), explore_root_path
          = link_to _("Help"), help_path
          = link_to _("About GitLab"), "https://about.gitlab.com/"
